---
layout: default
---

{% assign author = site.data.authors[page.author] %}

{% include header.html title=page.title %}

{% capture categoryURL %}/category/{{ page.categories | first | slugify }}{% endcapture %}
{% include breadcrumb.html sub_url=categoryURL sub_title=page.categories active_title=page.title %}

<div class="container content">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<div class="post-date">
				{{ page.date | date: "%b %-d, %Y" }} | <a href="/about">{{ author.name }} </a> <span><a href="#disqus_thread" data-disqus-identifier="{{ page.guid }}">No Comments</a></span>
			</div>

			<div class="post-body">
				{{ content }}
			</div>

			<div class="post-date">
				tags | 
				{% for tag in page.tags %}
					<a href="{{ tag | slugify | prepend: "/tag/" }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}   
				{% endfor %}

				<span></span>
			</div>

			{% capture fullURL %}{{ page.url | prepend: site.baseurl | prepend: site.url | remove: '.html' }}{% endcapture} %}
			<ul class="social-links outline text-center">
				<li><a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ fullURL }}&hashtags={{ page.tags | join: ',' }}"><i class="icon-twitter"></i></a></li>
				<li><a id="fb-share" href="javascript:;"><i class="icon-facebook"></i></a></li>
				<li><a href="https://plus.google.com/share?url={{ fullURL }}" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="icon-googleplus"></i></a></li>
			</ul>

			<div id="author" class="clearfix">
				<img class="img-circle" alt="{{ author.name }}" src="/assets/images/authors/{{ author.image }}" height="96" width="96">
				<div class="author-info">
					<h3>{{ author.name }}</h3>
					<p>{{ author.description }}. You can follow {% if author.male %}him{% else %}her{% endif %} on <a href="{{ author.facebook }}">Facebook</a>.</p>
				</div>
			</div>

			{% include popular.html %}

			<h3><span id="comments" class="disqus-comment-count" data-disqus-identifier="{{ page.guid }}">No Comments</span></h3>
			<hr />	
			
			{% include disqus.html guid=page.guid %}

		</div>
	</div>
</div>

{% include fbshare.html %}