---
layout: default
---

{% capture headerTitle %}Tag: {{ page.tag }}{% endcapture %}
{% include header.html title=headerTitle button="See latest posts" %}

{% include breadcrumb.html active_title=page.tag %}


<div id="start" class="container content">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			{% for post in site.posts %}
				{% for tag in post.tags %}
					{% if tag == page.tag %}
						{% include post.html post=post yesline=true %}
					{% endif %}
				{% endfor %}
			{% endfor %}

		</div>	
	</div><!-- end row -->
</div>